/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

h1 {
    font-family: "Chelsea Market", sans-serif;
    text-align: center;
    font-size: 60px;
}



body {
    font-family: "Roboto Mono", serif;
    text-align: center;
}

.header-nav {
    display: flex;
    flex-direction: row;
}

.header-nav a {
    color: white;
}

.footer-nav a {
    color: white;
}

.footer-nav {
    display: flex;
    flex-direction: row;
}

div.header-img img {
    border-radius: 300px;
    width: 25%;
    height: 20%;
    margin: 10px 50px 50px;
    float: left;
}

.header-nav {
    margin: 0 auto;
    width: 700px;
}

div.header-nav a {
    border-radius: 15px;
    padding: 20px 16px;
    margin: 10px 20px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
}
div.header-nav #link1 {
    background-color: #FF764e;

}

div.header-nav #link2 {
    background-color: #5ED3EB;
}

div.header-nav #link3 {
    background-color: #FFCD69;
}

.section-one {
    background-color: #ddb9a3;
    color: white;
}

#bold-words {
    font-weight: bold;
}

.image-one {
    text-align: center;
    margin: 0 18% 0%;
    padding: 0 20% 5px;
    border: 5px;
}

.image-one img {
    height: auto;
    width: 50%
}

.image-two {
    text-align: center;
    margin: 0 18% 0;
    padding: 0 20% 0;
    border: 5px;
}

.image-two img {
    height: auto;
    width: 50%;
}


.footer-nav {
    background-color: #F9E7DC;
}

.footer-nav a {
    display: flex;
    flex-direction: row;
}

.footer-nav img {
    height: 20%;
}

div.footer-nav #link1 {
    background-color: #FF764e;
    border-radius: 15px;
    padding: 14px 16px;
    margin: 20px;
    text-decoration: none;
}

div.footer-nav #link2 {
    background-color: #5ED3EB;
    border-radius: 15px;
    padding: 14px 16px;
    margin: 20px;
    text-decoration: none;
}

div.footer-nav #link3 {
    background-color: #FFCD69;
    border-radius: 15px;
    padding: 14px 16px;
    margin: 20px;
    text-decoration: none;
}